---
import Section from "../Section.astro";
import { projects } from "@/cv-spanish.json";

const response = await fetch('https://api.github.com/users/rafaelMMGH/repos');
const github_projects = await response.json();

const total_projects = projects.concat(github_projects);
---

<Section title="Proyectos">
  <ul>
    {
      total_projects.map(({ html_url, name, description, created_at, topics }) => {
        const starYear = new Date(created_at).getUTCFullYear();

        return (
          <li>
            <article>
              <header>
                <a href={html_url} title={`Ver el proyecto ${name}`}>
                  <h3>{name}</h3>
                </a>
                <time>{starYear}</time>
                <p>{description}</p>
              </header>
              <footer>
                {topics.map((topic) => {
                  return <span>{topic}</span>;
                })}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article h3 {
    margin-bottom: 4px;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article time {
    color: #555;
    font-size: 0.85rem;
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    display: inline-flex;
    border-radius: 6px;
    background-color: #f3f4f6;
    color: #111827;
    font-size: 0.6rem;
    font-weight: 600;
    padding: 0.2rem 0.6rem;
  }
</style>
